Source: plasma-settings
Section: kde
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Boudewijn Rempt <boud@kde.org>
Build-Depends: cmake (>= 3.0.0),
               debhelper (>= 0),
               extra-cmake-modules,
               libaccounts-glib-dev,
               libaccounts-qt5-dev,
               libgettextpo-dev,
               libkaccounts-dev,
               libkf5archive-dev,
               libkf5auth-dev,
               libkf5bookmarks-dev,
               libkf5codecs-dev,
               libkf5completion-dev,
               libkf5config-dev,
               libkf5contacts-dev,
               libkf5coreaddons-dev,
               libkf5dbusaddons-dev,
               libkf5declarative-dev,
               libkf5gapi-dev,
               libkf5i18n-dev,
               libkf5iconthemes-dev,
               libkf5kdelibs4support-dev,
               libkf5notifications-dev,
               libkf5plasma5,
               libkf5plasmaquick5,
               libkf5service-dev,
               libkf5solid-dev,
               libkf5sonnet-dev,
               libkf5windowsystem-dev,
               libsignon-qt5-dev,
               pkg-config,
               pkg-kde-tools (>= 0.9),
               plasma-framework-dev,
               plasma-mobile,
               qt5-default,
               qtbase5-private-dev
Standards-Version: 3.9.6
Homepage: https://projects.kde.org/projects/extragear/base/plasma-settings
Vcs-Browser: https://github.com/plasma-mobile/plasma-settings-packaging
Vcs-Git: https://github.com/plasma-mobile/plasma-settings-packaging.git

Package: plasma-settings
Architecture: any
Depends: kaccounts-integration,
         kaccounts-providers,
         plasma-framework,
         plasma-mobile,
         qml-module-org-kde-kaccounts,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Plasma phone settings application
 The settings application and a few modules for it.

Package: plasma-settings-dbg
Architecture: any
Section: debug
Priority: extra
Depends: plasma-settings (= ${binary:Version}), ${misc:Depends}
Description: Plasma phone settings application
 The settings application and a few modules for it.
 .
 This package contains debugging symbols.
